<!-- data_analysis.html -->
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Predicting Credit Card Default</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="/static/images/favicon_credit2.gif" type="image/gif" />
    
    <style>
      
      img.opacity {
      opacity: 0.9;
      }
  </style>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Predicting Credit Card Default</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/etl">ETL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/data-exploration">Data Exploration</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Models
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/models/logreg">Logistic Regression</a>
              <a class="dropdown-item" href="/models/trees">Trees</a>
              <a class="dropdown-item" href="/models/knn">K Nearest Neighbors</a>
              <a class="dropdown-item" href="/models/svm">Support Vector Machine</a>
              <a class="dropdown-item" href="/models/nn">Neural Network</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=#>Comparing ML Models</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/predict-default">Will I Default?</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">    
      
      <h1 class="text-center"> Comparing Machine Learning Models</h1>
      <hr> 
      <div class="row justify-content-center mt-5 light_image">
       
        <img src="{{ url_for('static', filename='images/ML_classification.jpeg') }}"  class="opacity" height="240px" width="720px"> 
    </div><br>
      
      <div class="row justify-content-center mt-3">
    
          <p>In our analysis of the different machine learning models, we fixed certain parameters in order to make them more comparable. This involved performing ETL on the same AMEX credit data and saving the resulting data frame into a cleaned .csv file for each model to use as a starting point for building out the remaining components. This allowed for a set of data with identical shape, consisting of 43,508 rows of 33 columns (32 containing the individual features and 1 for the column containing the target of ‘default’ or ‘no-default’).
            </p><br>
            <p>Additionally, when splitting the data set into training and testing data sets, the StandardScaler from sklearn was used to normalize the X_train, X_tests data sets. The target data was not scaled as it was already normalized to either a value of 0, (no-default) or value of 1 (default).</p>
        
      </div>
   
          <p><span style="font-weight: 400;">Models</span></p>
            <ul>
              <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Logistic Regression (LR)</span></li>
              <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Random Forest (RFC) and Decision Trees (DTC)</span></li>
              <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">K Nearest Neighbors (KNN)</span></li>
              <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Support Vector Machine (SVM)</span></li>
              <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Neural Network and Deep Learning</span></li>
            </ul>
          <p><span style="font-weight: 400;">Comparision Metrics:</span></p>
     
        
        <ol start="1">
            <li><span style="font-weight: 400;"> Scikit-learn scores the model with respect to accuracy.</span></li>
            <li><span style="font-weight: 400;"> A confusion matrix is generated using sklearn as well as classification report used to compare precision, recall and F1 scores.</span></li>
            <li><span style="font-weight: 400;"> k-fold Cross Validation of Classifiers (w/out Neural Network ML model)</span></li>
        </ol>
      
        <div class="row justify-content-center mt-5">
            <h5>Machine Learning Model Comparison Metrics</h5>
            <img src="{{ url_for('static', filename='images/model_comparison_table.png') }}" height="80%" width="80%"> 
        </div><br>
      <p><span style="font-weight: 400;"><b>Results</b></span></p>
      <p>Of all the scikit-learn machine learning classifiers, the Random Forest machine learning model was the most accurate among all s even outperforming the Neural Network Deep Learning Model. Using the information from the confusion matrix and classification report, The Decision Tree model had the highest precision, making it the best model at predicting the case of no-default given the test data. Recall was generally the same among all the models as well as F1-scores. Overall, Random Forest has the best combination of scores and would likely be the best predictive model to use for this test case using the credit data provided. 
        </p>
    <p><b>k-fold cross validation</b></p>
    <p>In the basic approach, the training set is split into k smaller sets. A model is trained using k−1 of the folds as training data. The model is then validated using the remaining part of the data. The performance measure reported by k-fold cross-validation is then the average of the values computed in the loop.
    </p>
    <img src="{{ url_for('static', filename='images/grid_search_cross_validation.png') }}" height="80%" width="80%"> 
    </div><br>
    <br>
    <div class="container">
        <div class="row justify-content-center mt-3 mb-5">
            
                <img src="{{ url_for('static', filename='images/comparison_boxplot.png') }}" height="80%" width="80%"> 
                <p>The resulting boxplot shows the average accuracy among the different classifiers using the k-fold cross-validation method. Again, Random Forest classifier was the best performer regarding accuracy as compared to the other models with the exception of neural networks, which was not measured using the k-fold classifier validation.</p>
            
       
        </div>
    </div>
    
    
    <div class="container">
        <div class="row justify-content-center mt-3">
            
            <h5 class="text-center" ><b>The Machine Learning Pipeline </b></h5> 
            <p>Using the following steps in the pipeline we were able to discern that Random Forest was the best model to use for the test case given, which included: preparing data, creating training/testing sets, instantiating the classifier, training the classifier, making predictions and evaluating the performance. There was some tweaking of the parameters fo the deep learning Neural Network, however, this was not explored for the other classifiers.</p>     
            <br><br>
        </div>
    </div>



      <!-- <div class="row justify-content-center mt-5">
        <h4>Further Evaluating the Model</h4>
        <div class="row">
            <p>
              Based on the results, the accuracy of the KNN algorithm was roughly 97%. It would vary a tad to the random sample data for training. The confusion matrix and the classification report depicting the training rate and testing error rate are portrayed below.
              <img src="{{ url_for('static', filename='images/knn_classification.png') }}" height="100%" width="100%"> 
            </p>
        </div>
      </div> -->
      





     
             

      <!-- <div class="row mt-5">
        <div class="col">
          <h4 class="text-center">KNN Confusion Matrix</h4>
          <img src="{{ url_for('static', filename='images/knn_confusion.png') }}" height="80%" width="100%"> 
        </div>
        <div class="col">
          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Labels</th>
                <th scope="col">Values</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">True Positive</th>
                <td>9988</td>
              </tr>
              <tr>
                <th scope="row">False Negative</th>
                <td>1</td>
              </tr>
              <tr>
                <th scope="row">False Positive</th>
                <td>270</td>
              </tr>
              <tr>
                <th scope="row">True Negative</th>
                <td>618</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> -->

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>