<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Credit Card Default</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Credit Card Default</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/etl">ETL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/data-exploration">Data Exploration</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Models
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/models/logreg">Logistic Regression</a>
              <a class="dropdown-item" href="/models/trees">Trees</a>
              <a class="dropdown-item" href="/models/knn">K Nearest Neighbors</a>
              <a class="dropdown-item" href="/models/svm">Support Vector Machine</a>
              <a class="dropdown-item" href="/models/nn">Neural Network</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/predict-default">Will I Default?</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row justify-content-center mt-3">
        <h1>Project Objective</h1>
        <p>
          Our team decided to use machine learning algorithms on American Express client data to predict if they will default on their credit card or not. We used five classifier types to make models and compared them against each other to find the most accurate model that fits our testing data. As well as build a predictor for anyone to put some information into to see if, hypothetically, their credit card would be defaulted on, if it was an American Express one.

One of the main reasons behind our final project stems from wanting to use real world data, that's a given, but we also wanted to find data that is applicable to our everyday lives. What is something we all use everyday, at times forgetting the power we hold in our pockets, wallets, and phones? Credit cards. The amount of information tied to credit cards is no laughing matter, so in theory with more accurate data and fields we could create numerous subsets of models just on this type of data alone.

This idea leads us to be excited by the implications for people using our website for personal reasons. Maybe to see if they have a higher or lower chance for defaulting on their card, which is important to figure out for many people who want to keep having good credit. In addition, on the corporate side we could use our code to help companies make more accurate decisions or adjust policies to get less credit card defaults overall, or even push them to soften harsh policies on their customers. Our project is simple, but powerful. We hope you explore our website, and get inspired for your own machine learning projects in the future!

        </p>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>