<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Credit Card Default</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Credit Card Default</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/etl">ETL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/data-exploration">Data Exploration</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Models
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/models/logreg">Logistic Regression</a>
              <a class="dropdown-item" href="/models/trees">Trees</a>
              <a class="dropdown-item" href="/models/knn">K Nearest Neighbors</a>
              <a class="dropdown-item" href="/models/svm">Support Vector Machine</a>
              <a class="dropdown-item" href="#">Neural Network</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/data-analysis">Comparing ML Models</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/predict-default">Will I Default?</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <h1 class="text-center">Neural Network</h1>
      <hr>
      <div class="row justify-content-center mt-4">
        <img src="{{ url_for('static', filename='images/nn_graphic.png') }}" height="100%" width="100%"> 
        <p class="mt-3">A neural network is a simplified model of the way the human brain processes information. It works by simulating a large number of interconnected processing units that resemble abstract versions of neurons. <a href=" https://www.ibm.com/docs/en/spss-modeler/18.0.0?topic=networks-neural-model">[1]</a> The basic units are neurons, which are typically organized into layers. There are typically three parts in a neural network: an input layer, with units representing the input fields; one or more hidden layers; and an output layer, with a unit or units representing the target field(s). In this section, we explored the outcomes of neural network models with 1 and 2 hidden layers. We refer to the models with 2 hidden layers as deep learning models.
      </div>
      
      <div class="row justify-content-center mt-3 mb-5">
        <div class="col">
          <h6 class="text-center">Neural Network Model with 1 Hidden Layer</h6>
          <img src="{{ url_for('static', filename='images/neural_network_structure.jpeg') }}" height="100%" width="100%"> 
        </div>
        <div class="col">
          <h6 class="text-center">Neural Network Model with 2 Hidden Layers</h6>
          <img src="{{ url_for('static', filename='images/deep_learning_structure.jpeg') }}" height="100%" width="100%"> 
        </div>
      </div>

      <h4 class="text-center mt-5">Model Parameters</h4>
      <div class="row justify-content-center">
        <div class="col">
          <img src="{{ url_for('static', filename='images/nn_compare.jpeg') }}" height="100%" width="100%"> 
        </div>
        <div class="col">
          <p>The cleaned Amex Dataset has 32 features. We first constructed the models using all features. The neural network with 1 hidden layer had 3,502 trainable parameters, and the deep learning model with 2 hidden layers had 13,602 trainable parameters. Since other models in this project have already identified the most important 5 features in this dataset, we used the top 5 features to construct simplified neural network models. The neural network with 1 hidden layer had 802 trainable parameters, and the deep learning model with 2 hidden layers had 10,902 trainable parameters. A comparison of the parameters in the 4 models is shown in the table below.</p>
        </div>
      </div>

      <div class="row justify-content-center mt-5">
        <h4>Model Outcomes</h4>
        <p>For models that utilized all 32 features, accuracies increased progressively with the increased epochs. For the model with 2 hidden layers, the loss for the testing data increased dramatically compared to the model with 1 hidden layer, suggesting possible overfitting with the deep learning model.</p>
        <div class="col">
          <div class="row">
            <img src="{{ url_for('static', filename='images/neural_network_accuracy.jpg') }}" height="100%" width="100%"> 
          </div>
          <div class="row">
            <img src="{{ url_for('static', filename='images/neural_network_loss.jpg') }}" height="100%" width="100%"> 
          </div>
        </div>
        <div class="col">
          <div class="row">
            <img src="{{ url_for('static', filename='images/deep_learning_accuracy.jpg') }}" height="100%" width="100%"> 
          </div>
          <div class="row">
            <img src="{{ url_for('static', filename='images/deep_learning_loss.jpg') }}" height="100%" width="100%"> 
          </div>
        </div>
        <p>For models that utilized the top 5 features, the performance of the models with 1 and 2 hidden layers are very similar. Accuracy and loss for the training and testing data stabilized quickly for both models.</p>
        <div class="col">
          <div class="row">
            <img src="{{ url_for('static', filename='images/neural_network_accuracy_top5.jpg') }}" height="100%" width="100%"> 
          </div>
          <div class="row">
            <img src="{{ url_for('static', filename='images/neural_network_loss_top5.jpg') }}" height="100%" width="100%"> 
          </div>
        </div>
        <div class="col">
          <div class="row">
            <img src="{{ url_for('static', filename='images/deep_learning_accuracy_top5.jpg') }}" height="100%" width="100%"> 
          </div>
          <div class="row">
            <img src="{{ url_for('static', filename='images/deep_learning_loss_top5.jpg') }}" height="100%" width="100%"> 
          </div>
        </div>
      </div>
      
      <div class="row justify-content-center mt-5">
        <h4>
          Confusion Matrix 
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary btn-circle" data-toggle="modal" data-target="#exampleModal">
            ?
          </button>
        </h4>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                A confusion matrix is used to describe the performance of a classifical model
                by comparing the predicted and actual values.
                <hr>
                <img src="{{ url_for('static', filename='images/confusion_matrix.png') }}" height="100%" width="100%"> 
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
          <img src="{{ url_for('static', filename='images/nn_confusion.jpeg') }}" height="80%" width="100%"> 
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>